main > section:first-child {
    border-right: 1px solid lightgray;
}

#tbl-order-detail thead{
    position: sticky;
    top: -1px;
    background-color: white;
}

#tbl-order-detail thead th:first-child,
#tbl-order-detail tbody td:first-child {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order thead th:nth-child(2),
#tbl-order tbody td:nth-child(2) {
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order thead th:nth-child(3),
#tbl-order tbody td:nth-child(3) {
    width: 230px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order thead th:nth-child(4),
#tbl-order tbody td:nth-child(4) {
    width: 80px;
    text-align: center;
    vertical-align: middle;
}


#tbl-order-detail thead th:first-child,
#tbl-order-detail tbody td:first-child {
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order-detail thead th:nth-child(2),
#tbl-order-detail tbody td:nth-child(2) {
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order-detail thead th:nth-child(3),
#tbl-order-detail tbody td:nth-child(3) {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

#tbl-order-detail thead th:nth-child(4),
#tbl-order-detail tbody td:nth-child(4) {
    width: 100px;
    text-align: right;
    vertical-align: middle;
}

#tbl-order-detail-wrapper {
    height: 80vh;
    overflow-y: auto;
    user-select: none;
}

#tbl-order-detail tbody {
    cursor: pointer;
}

#tbl-order-detail-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #dcdcdc;
}

#tbl-order-detail-wrapper::-webkit-scrollbar-thumb {
    background: dodgerblue;
}




.actions svg:hover {
    fill: green;
}

#tbl-order-wrapper {
    height: 85vh;
    overflow-y: auto;
    user-select: none;
}

#tbl-order tbody {
    cursor: pointer;
}

#tbl-order-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #dcdcdc;
}

#tbl-order-wrapper::-webkit-scrollbar-thumb {
    background: dodgerblue;
}